<div class="head-s">
  <div class="user-name">
    <a herf="#">Tom</a>
  </div>
  <div class="create-room">
    <a herf="#">チャットを作成する</a>
  </div>
</div>

<div class="menu">
  <div class="room">
    <div class="room-name">
      <a herf="#">techroom1</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a herf="#">techroom2</a>
    </div>
  </div>
</div>